* {
    margin: 0;
    font-family: 'Dosis', sans-serif;
    //font-family: 'Source Sans Pro', sans-serif;
    
}

html {
    scroll-behavior: smooth;
  }

a {
    text-decoration: none;
    font-size: 1.3rem;
}

img {
    width: 65px;
    margin: 2rem 1rem;
}

// .hero-img {
//     position: absolute;
//     top: 0;
//     left: 0;
//     background: url(/hotelMarkupAssets/header.jpg);
//     background-size: cover;
//     background-position-x: 50%;
//     background-position-y: 50%;
//     width: 100%;
//     min-height: 25rem;
//     z-index: -5;
    
// }

.logo {
    background: url(/hotelMarkupAssets/Logo.png);
    min-height: 3rem;
    min-width: 4rem;
    background-repeat: no-repeat;
    background-size: contain;
    margin-top: .7rem;
    margin-left: .5rem;
}

nav {
    //display: fixed;
    position: fixed;
    right: 0;
    top: 0;
    background: white;
    height: 100vh;
    width: 50%;
    z-index: 999;

    transform: translateX(100%);
    transition: transform .4s ease-in-out;

    ul {
        list-style: none;
        padding: 0;
        margin-top: 8em;

        a {
            list-style-type: none;
            color: black;
            padding: .75em 2em;
            display: block;

            &:hover {
                background: rgb(235, 235, 235);
            }
        }
    }
    .close {
        float: right;
        margin: 2em;
        width: 2.5em;
        &:hover {
            cursor: pointer;
        }
    }
    
}

// .nav-belt {
// position: absolute;
// width: 100%;
// min-height: 4rem;
// background-color: #000324;
// z-index: -3;
// }

header {
    display: flex;
    justify-content: space-between;
    height: 4rem;
    width: 100%;
    background-color: #000324;

.menu {
        position: unset;
        float: right;
        top: 0;
        margin: 1.5rem;
        height: 1.1rem;
        width: auto;

        &:hover {
            cursor: pointer;
            box-shadow: 2px 2px rgb(43, 43, 43);
        }

        
    }
}

.card-title {
        font-size: 1.6rem;
    }

#overview {
    display: flex;
    flex-direction: column;
    height: fit-content;

    .hero-container{
        aspect-ratio: 9/2;
        display: grid;
        justify-content: center;
        background-image: url(../hotelMarkupAssets/header.jpg);
        background-size: cover;
        margin: 0rem;
        text-align: center;
        color: #E5FEFF;
        max-height: 100vh;

        background-repeat: no-repeat;

    .hero-txt-container {
        display: grid;
        align-content: center;
        background-color: #000324c8;
        min-height: 5rem;
        height: 20rem;
        margin: 10vh 0;
        padding: 0 5vh;

        //max-height: 70vw;
    }
        p {
            font-family: Source Sans Pro;
            padding: 1rem;
            font-size: 1.3rem;
            line-height: 1.6rem;
            
        }

        h1 {
            font-size: 2.5rem;
            font-weight: 400;
            line-height: 2.5rem;
        }
    }

    .welcome-container {
        //display: flex;
        //flex-direction: row;
        //flex-wrap: wrap;
        height: fit-content;
        
        .welcome-img {
            justify-self: center;
            background: url(../hotelMarkupAssets/hamsterhomejpg.jpg);
            background-size: cover;
            //background-repeat: no-repeat;
            margin: 2vw auto;
            border-radius: .2rem;

            max-width: 80vw;
            min-height: 100vw;
            
            
        }
        
        .welcome-content {
            display: flex;
            flex-direction: column;
            
            margin: .2rem 1rem;

            .welcome-txt {

            }

            .awards {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: space-evenly;
                align-items: center;
            }
        }
    }
}


#rooms {
    background-image: url(../hotelMarkupAssets/bg2.jpg);
    
    h1 {
        text-align: center;
        color: #E5FEFF;
        padding-top: 2rem;
        font-size: 2.5rem;
    }
    
    
    .room-size {
        font-weight: bold;
    }

    .room-desc {
        font-size: 1rem;
    }
}

#packages {
    background-image: linear-gradient(to bottom right, rgb(2, 60, 250), rgb(200, 0, 255));
     
    h1 {
        text-align: center;
        color: #E5FEFF;
        padding-top: 2rem;
        font-size: 2.5rem;
    }

    .packages-cost {
        color: #1F51A8;
    }

    .packages-desc {
        font-size: 1rem;
    }

}

#amenities {
    background-image: url(../hotelMarkupAssets/bg.jpg);
    display: flex;
    justify-content: center;

    .amen-txt {
        color: #ffffff;
        margin: 1rem;
    }

    .amen-icons {
        display: flex;
        justify-content: space-around;

        .col {
            img {
                height: 3rem;
                width: auto;
            }  
        }
    }
}

#contact {
    
}


.open-nav {
    transform: translateX(0);
}
@media screen and (min-width: 500px) {
    .welcome-container {
        width: 500px;
        margin: 0 auto;
    }

}

@media screen and (min-width: 1441px) {
    body {
        width: 1080px;
        margin: 0 auto;
        box-shadow: 0 0 12px rgb(158, 158, 158);
    }

}



